#focus-bubble {
    font-family: sans-serif;
    /* position fixed keeps it in place even if i scroll */
    position: fixed;
    /* puts it in bottom right corner with a little bit of margin*/
    bottom: 20px;
    right: 20px;
    /* width and height the same so the circle is perfect */
    width: 25vh;
    height: 25vh;
    /* makes the form round */
    border-radius: 50%;
    background-color: blueviolet;
    /* aligns items in the bubble centered */
    display: flex;
    justify-content: center;
    align-items: center;
    /* this keeps it above everything */
    z-index: 9999;
    cursor: move;
}

#bubble-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerDisplay {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;    
    margin-bottom: 1px;
}

.button-group {
  display: flex;
  position: relative;
  z-index: 10;
  gap: 6px;
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: 6px 8px;
  position: relative;
  font-size: 14px;
  border-radius: 6px;
  z-index: 10;
}

button:hover {
  background-color: #218838;
}

.phase-label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
  opacity: 0.8;
}

#settings {
    position: absolute;
    bottom: 70px;
    right: 70px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: none; /* Hidden by default */
    z-index: 10001;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
}

#settingsIcon {
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 10rem;
  cursor: pointer;
  font-size: 18px;
  z-index: 100000;
}

.bubble-content {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

#phaseLabel {
    color: white;
    font-size: 0.9rem;
    margin-top: 6px;
}

#settings.visible {
    display: flex;
}

#applySettings {
    padding: 8px;
    font-size: 1rem;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

#muteToggle {
  display: block;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  z-index: 900000;
  margin-top: 5px;
}

#progressDots {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

/*#progressSVG {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  pointer-events: none;
  z-index: 1;
}

/*#progressCircle {
  fill: none;
  stroke: red;
  stroke-width: 6;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

#progressSVG.hidden {
  display: none;
}
